
<div [@.disabled]="true">
    <mat-toolbar>
        <h3>Twitter </h3>
    </mat-toolbar>

    <app-top-right-buttons  [placeholder]="'Search twitter...'"></app-top-right-buttons>
    <mat-tab-group>
        <mat-tab label="Pairs">
            <app-twitter [mode]="'general'" [symbol]="supra" [possibleSymbols]="possibleSymbols"></app-twitter>
        </mat-tab>
        <mat-tab label="Exchanges">
            <mat-tab-group >
                <mat-tab [label]="b" *ngFor="let b of appConfigService.possibleBrokers">
                <app-widget-twitter-timeline [username]="appConfigService.getTwitterMain(b)"></app-widget-twitter-timeline>
                </mat-tab>
            </mat-tab-group>


            <app-twitter *ngIf="false" [mode]="'general'" [symbol]="defExchange" [possibleSymbols]="possibleExchanges"></app-twitter>
        </mat-tab>
    </mat-tab-group>

</div>