<div [@.disabled]="true">
    <mat-toolbar>
        <h3>Listing</h3>
    </mat-toolbar>


        <app-top-right-buttons [placeholder]="'Search listing...'"></app-top-right-buttons>
        <ng-container *ngIf="listing.length>0">


            <h5 class="options"> {{listing?.length}} pairs
            </h5>

            <mat-menu #appMenu="matMenu">
                <button (click)="sortby=i;sort()" mat-menu-item
                        *ngFor="let i of possibleSorts">{{i}}
                </button>
            </mat-menu>
            <mat-menu #appMenu2="matMenu">
                <button (click)="priceview=i;sort()" mat-menu-item
                        *ngFor="let i of possiblePriceviews">{{i}}
                </button>
            </mat-menu>

            <mat-table #table class="data" [dataSource]="dataSource" matSort (matSortChange)="changeSort()" matSortActive="pair" matSortDirection="asc" matSortDisableClear>

                <ng-container matColumnDef="broker">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Broker</mat-header-cell>
                    <mat-cell *matCellDef="let element"><span class="broker-{{element.broker}}"><span class="broker-icon notext broker-{{element.broker}}"></span><span class="hide-mobile">{{element.broker}}</span></span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="pair">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Pair</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="celllink" [routerLink]="'/chart/'+element.pair+'/broker/'+element.broker">{{appConfigService.getPairCommonName(element.broker,element.pair)}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="change">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>1h Evol (%)</mat-header-cell>
                    <mat-cell *matCellDef="let element" >{{element.changelastprice  | number:'1.2-2'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="bid">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Bid</mat-header-cell>
                    <mat-cell *matCellDef="let s"><span class="{{s.oldbid>0?(s.oldbid>s.bid?'valneg':'valpos'):''}}"> {{s.bid | price}} <mat-icon>{{s.oldbid>0?(s.oldbid>s.bid?"arrow_downward":"arrow_upward"):''}}</mat-icon></span>
                        <span *ngIf="priceview=='crypto_and_fiat' || priceview=='fiat'">${{s.usdbid | number :'1.2-5'}}</span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ask">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Ask</mat-header-cell>
                    <mat-cell *matCellDef="let s">
                        <span class="{{s.oldask>0?(s.oldask>s.ask?'valneg':'valpos'):''}}"> {{s.ask |price}} <mat-icon>{{s.oldask>0?(s.oldask>s.ask?"arrow_downward":"arrow_upward"):''}}</mat-icon> </span>
                        <span *ngIf="priceview=='crypto_and_fiat' || priceview=='fiat'">${{s.usdask            | number :'1.2-5'}}</span></mat-cell>
                </ng-container>

                <ng-container matColumnDef="spreadpct">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Spread (%)</mat-header-cell>
                    <mat-cell *matCellDef="let element"><span *ngIf="element.spreadpct">{{element.spreadpct | number:'1.3-3'}}%</span></mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumnsRef"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsRef;"></mat-row>
            </mat-table>

        </ng-container>
</div>