<ng-container *ngFor="let b of appConfigService?.possibleBrokers">

    <mat-expansion-panel multi="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <app-broker-icon [broker]="b"></app-broker-icon>
                {{b.substring(0,1).toUpperCase()+b.slice(1)}}
            </mat-panel-title>
            <mat-panel-description>
                {{tradingService.enabledBrokers.indexOf(b)>-1?"Enabled":""}}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-broker-connect [broker]="b"></app-broker-connect>

    </mat-expansion-panel>

</ng-container>