<div id="ticker" *ngIf="eventService.isTickerVisible">
    <ng-container *ngIf="authService.isAuthenticated()">
        <ng-container *ngIf="tradingService.isAnyBrokerConfigured()">
            <div class="col-2b">
                <div class="col-2b-1">
                    <ng-container *ngIf="false"><span *ngFor="let b of tradingService?.enabledBrokers"><span class="broker-icon notext broker-{{b}}"></span>${{tradingService.getBrokerByName(b).getPortfolio().getTotalUSDValue()}} / </span></ng-container>
                    <app-pair-tick *ngFor="let f of favorites" [broker]="f.broker" [pair]="f.pair"></app-pair-tick>
                </div>
                <div class="col-2b-2">
                    <mat-menu #menu="matMenu">
                        <button mat-button [routerLink]="'/config/favorites'">Configure favorites</button>
                    </mat-menu>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="!tradingService.isAnyBrokerConfigured()">
            Connecting to brokers...
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!authService.isAuthenticated()">
        <div class="col-2b">
            <div>
            <mat-chip class="chips-link"  [routerLink]="'/auth'">
                SIGN_IN &nbsp;<span class="{{demovalue>0?'valpos addplus':'valneg'}}">{{demovalue | number:"1.2-2"}}%</span></mat-chip>
            <mat-chip class="chips-link"  [routerLink]="'/auth'">
                SIGN_UP_NOW &nbsp;<span class="{{demovalue>0?'valpos addplus':'valneg'}}">{{demovalue2 | number:"1.2-2"}}%</span></mat-chip>

            </div>
        </div>
    </ng-container>
</div>