<section class="price">
  <mat-toolbar style="background-color: #1d36a9">
  <h3   style="color: white">Price </h3>
</mat-toolbar>




  <mat-tab-group (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Price">
      <app-price></app-price>
    </mat-tab>
    <mat-tab label="Volume" >
      <app-volume *ngIf="tabIndex==1"></app-volume>
    </mat-tab>
    <mat-tab label="Correlations" >
      <app-volume *ngIf="tabIndex==1"></app-volume>
    </mat-tab>
  </mat-tab-group>



</section>



