.welcome-left{
padding:150px  100px 50px;width:50%
}
.welcome-right{
padding:150px 20px 50px;width:50%
}
.welcome-banner{display:flex}


span.welcome-message {
    font-size: 32px;
    color: #c90e5a;
    font-weight: 300;
}