<div id="welcome" *ngIf="eventService.isWelcomeVisible">

    <mat-horizontal-stepper linear #stepper>
        <mat-step label="Welcome">
            <div class="welcome-banner">
                <div class="welcome-left padded">
                    <div class="welcome-header">
                    <span id="logo" class="logo-white"> </span>
                    <span class="line">Made by traders. For the traders.</span>
                    </div>
                    <br><br><br>
                    <span class="welcome-message">Sign up</span>

                    <div class="centered">
                        <div id="welcome-register">
                        <app-form-register [submitText]="'Join Coinamics'"></app-form-register>
                            <div hidden class="disclaimer">DISCLAIMER<br>
                                Coinamics is not a financial advisor. Coinamics is not a trading platform. Buying and sellings cryptocurrencies is risky. Only invest money you can afford to lose.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="welcome-right">
                    <span class="welcome-message">Top features</span>
                    <div class="welcome-right-in">
                        <div><h2>Connect your favorite brokers</h2>
                            <div id="welcome-portolio" class="welcome-image"></div>
                            <span></span>
                        </div>
                        <div><h2>Access all your news & tweets</h2>
                            <div id="welcome-tweet" class="welcome-image"></div>
                            <span></span>
                        </div>
                        <div>
                            <h2>Optimize your portofolio allocation</h2>
                            <div id="welcome-allocation" class="welcome-image"></div>
                            <span></span>
                        </div>
                        <div><h2>Perform arbitrage decisions easily</h2>
                            <div id="welcome-arbitrage" class="welcome-image"></div>
                            <span></span>
                        </div>


                    </div>
                </div>
                <br><br><br>
            </div>
        </mat-step>
        <mat-step label="Plans">
            <div class="padded">
                <h3>Choose a plan</h3>
                <span>Premium plan is paid in BTC.</span>
                <table>
                    <tr>
                        <td></td>
                        <td>Guests</td>
                        <td colspan="3">Subscribers</td>
                    </tr>
                    <tr>
                        <td>Access data boards</td>
                        <td>
                            <mat-icon class="valpos">check_circle</mat-icon>
                        </td>
                        <td colspan="3">
                            <mat-icon class="valpos">check_circle</mat-icon>
                        </td>
                    </tr>
                    <tr>
                        <td>Access portfolio optimization boards</td>
                        <td>
                            <mat-icon class="valneg">not_interested</mat-icon>
                        </td>
                        <td colspan="3">
                            <mat-icon class="valpos">check_circle</mat-icon>
                        </td>
                    </tr>
                    <tr>
                        <td>Customize widgets</td>
                        <td>
                            <mat-icon class="valneg">not_interested</mat-icon>
                        </td>
                        <td colspan="3">
                            <mat-icon class="valpos">check_circle</mat-icon>
                        </td>
                    </tr>
                    <tr>
                        <td>Receive alerts</td>
                        <td>
                            <mat-icon class="valneg">not_interested</mat-icon>
                        </td>
                        <td colspan="3">
                            <mat-icon class="valpos">check_circle</mat-icon>
                        </td>
                    </tr>
                    <tr>
                        <td>Subscription time</td>

                        <td></td>
                        <ng-container *ngFor="let p of plans">
                            <td *ngIf="p.amount>0"> {{p.length}} days</td>
                        </ng-container>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td> Free</td>
                        <ng-container *ngFor="let p of plans">

                            <td *ngIf="p.amount>0"> ${{p.amount}}<br>{{p.btcamount}}BTC</td>
                        </ng-container>
                    </tr>
                    <tr>
                        <td>Choose</td>
                        <ng-container *ngFor="let p of plans">
                            <td *ngIf="p.amount==0">
                                <button mat-raised-button [color]="'primary'" (click)="close()">Stay    as guest</button>
                            </td>
                        </ng-container>
                        <ng-container *ngFor="let p of plans">
                            <td *ngIf="p.amount>0">
                                <button mat-raised-button color="accent" (click)="processChoice(p)">Subscribe
                                    now
                                </button>
                            </td>
                        </ng-container>
                    </tr>
                </table>
            </div>
        </mat-step>

        <mat-step label="Sign up" *ngIf="!authService.isAuthenticated()">
            <div class="padded"><h3>Sign up</h3>
                <div class="form ">

                    <form [formGroup]="form">
                        <div>
                            <mat-form-field><input name="email" matInput [formControlName]="'email'" placeholder="email" required>
                            </mat-form-field>
                            <div class="form-invalid" *ngIf="form.controls.email.dirty && form.controls.email.errors">E-mail is not valid</div>

                        </div>
                        <div>
                            <mat-form-field>
                                <input formControlName="password" [type]="hide?'password':'text'" matInput placeholder="Enter your password" name="password" required>
                                <mat-icon class="icon-hide" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                            </mat-form-field>
                            <div class="form-invalid" *ngIf="form.controls.password.dirty && form.controls.password.errors?.minlength">Password must be at least 8 characters</div>
                        </div>
                        <div>
                            <mat-form-field>
                                <input formControlName="confpassword" name="confpassword" matInput placeholder="Confirm your password" [type]="hide?'password':'text'" required>
                                <mat-icon class="icon-hide" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>

                            </mat-form-field>
                            <div class="form-invalid" *ngIf="form.controls.confpassword.dirty && form.controls.confpassword.errors?.minlength">Password must be at least 8
                                characters
                            </div>
                            <div class="form-invalid" *ngIf="form.controls.confpassword.dirty && form.controls.confpassword.errors?.MatchPassword">Passwords must match</div>

                        </div>
                        <button mat-raised-button="" class="large" [disabled]="!form.valid" (click)="submit()" color="primary">Send
                        </button>
                    </form>
                </div>
            </div>
        </mat-step>
        <mat-step label="Pay">
            <div class="padded">
                Send payment to this address:
                <div class="subscribe-address">
                    <div>{{bitcoinAddress}}</div>
                    <div>Amount: {{amount}} BTC</div>


                    <qr-code *ngIf="qrcode" [value]="qrcode" [size]="150"></qr-code>
                    <div *ngIf="addressExpirationCountdown">The address will expire in
                        {{addressExpirationCountdownMin}}min
                        {{addressExpirationCountdownSec}}s
                    </div>
                </div>
                <br>
                The transaction will be automatically scanned until confirmation.<br><br><br>
                Status: {{isPaid?"Paid":"Waiting for payment confirmation"}}<br>
                Balance: {{paymentStatus?paymentStatus?.balance:"Checking..."}}
                <br/><br/><br/>
                <button mat-raised-button="" (click)="returntoplan()" color="primary">Change plan</button>

            </div>
        </mat-step>
        <mat-step label="Confirmed !">
            <div class="padded">
                <h3>Payment status</h3>
                <div>
                    Status: {{isPaid?"Paid":"Waiting for payment confirmation"}}<br>
                    Balance: {{paymentStatus?.balance}}

                    <div *ngIf="isPaid">Your payment has been received. Thank you for subscribing. <br>
                        <div class="centered">
                            <button class="centered" mat-raised-button color="primary" (click)="close()">Continue to
                                premium account
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-step>

    </mat-horizontal-stepper>

</div>