<div id="welcome" *ngIf="displayed">
    <h1>CoinFolio</h1>
    <h2>All your crypto news & tweets on one dashboard</h2>
    <span></span>
    <h2>Market data + indicators</h2>
    <span></span>
    <h2>Portofolio allocation</h2>
    <span></span>
    <h2>Edit & customize your boards</h2>
    <span></span>
    <h1>Plans</h1>

    <span class="disclaimer">CoinFolio is not a financial advisor. CoinFolio is not a trading platform. Buying and sellings cryptocurrencies is risky. Only invest money you can afford to lose.</span>
    <button mat-raised-button (click)="displayed=false">Agreed</button>
</div>