#disconnected{
    z-index: 20;
    position: absolute;

    top: 10px;
    left: 20%;
    width: 60%;
    background: #ff00009c;
    padding: 10px;
    text-align: center;
    font: normal 13px/15px Roboto;
    margin: auto;
    display: block;
    color: white;
    border: solid 3px #cc2e2e;
}