<mat-toolbar>Import</mat-toolbar>


Source:
<select [(ngModel)]="source">
  <option value="kraken" selected>Kraken</option>
</select>

Value:
<select [(ngModel)]="value">
  <option *ngFor="let val of appConfigService.values"  value="{{val}}" selected>{{val}}</option>

</select>
Base:
<select [(ngModel)]="base">
  <option *ngFor="let val of appConfigService.bases" value="{{val}}" selected>{{val}}</option>

</select>
Interval:
<select [(ngModel)]="interval">
  <option *ngFor="let val of appConfigService.intervals"  value="{{val}}" selected> {{appConfigService.intervalNames[val]}} </option>

</select>


<button mat-raised-button color="accent" (click)="doImport()">Import</button>
<br>
<textarea [(ngModel)]="file"></textarea>

<hr>
<h4>Files to import</h4>

<a href="{{li}}"  class="import-link"*ngFor="let li of links">{{li}}</a><br/>

