<div *ngIf="authService?.isAuthenticated()">
    <mat-toolbar>
        <h3>Settings </h3>
    </mat-toolbar>

    <mat-tab-group>
        <mat-tab label="Profile">
            E-mail: {{user?.email}}<br>
            userId: {{user?.id}}<br>
            <button mat-button (click)="logout()">Sign off</button>
        </mat-tab>

        <mat-tab label="Subscription">Premium expires on {{
            user?.currentPaymentExpiration | date:"medium"}}
        </mat-tab>
        <mat-tab label="Interface">Language: en_US</mat-tab>
        <mat-tab label="Latest imports"><table><thead><td>Date</td><td>Import type</td><td>Lines</td></thead><tbody><tr *ngFor="let i of imports" class="import-line"><td>{{i.ts*1000 | date:"medium"}}</td><td>  {{i.code}}</td><td> {{i.nlines}}</td></tr></tbody></table></mat-tab>
    </mat-tab-group>
</div>
<div *ngIf="!authService?.isAuthenticated()" class="padded">

    <app-login [popup]="false"></app-login>

</div>