<div *ngIf="authService?.isAuthenticated()">
    <mat-toolbar>
        <h3>Settings </h3>
    </mat-toolbar>
<a class="config-link" [routerLink]="'/config/profile'">
    <div class="left"><mat-icon >face</mat-icon></div>
    <div class="right"><div class="title">Profile</div>
    <div class="sub">Edit your personal settings</div>
    </div>
</a>
    <a class="config-link" [routerLink]="'/config/subscription'">
    <div class="left"><mat-icon >payment</mat-icon></div>
    <div class="right"><div class="title">Subscription</div>
    <div class="sub">Modify your subscription</div>
    </div>
</a>
    <a class="config-link" [routerLink]="'/config/favorites'">
    <div class="left"><mat-icon >star</mat-icon></div>
    <div class="right"><div class="title">Favorites</div>
    <div class="sub">Highlight your favorite pairs</div>
    </div>
</a>
    <a class="config-link" [routerLink]="'/config/interface'">
        <div class="left"><mat-icon >tab</mat-icon></div>
        <div class="right"><div class="title">Interface</div>
            <div class="sub">Change your display settings</div>
        </div>
    </a>
    <a class="config-link" [routerLink]="'/config/brokers'">
        <div class="left"><mat-icon >swap_horiz</mat-icon></div>
        <div class="right"><div class="title">Broker connections</div>
            <div class="sub">Connect to your favorite brokers.</div>
        </div>
    </a>
<ng-container *ngIf="false">
    <mat-tab-group (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Profile">
            E-mail: {{user?.email}}<br>
            userId: {{user?.id}}<br>
            <button mat-raised-button (click)="logout()">Sign off</button>
        </mat-tab>

        <mat-tab label="Subscription">Premium expires on {{
            user?.currentPaymentExpiration | date:"medium"}}
        </mat-tab>
        <mat-tab label="Interface">Language: en_US</mat-tab>
        <mat-tab label="Favorites">Favorite cryptos

        </mat-tab>
        <mat-tab label="Broker connections">
            <div class="padded"  *ngIf="tabIndex==4">
                <app-broker-connections></app-broker-connections>
            </div>
        </mat-tab>
        <mat-tab label="Latest imports">

        </mat-tab>
    </mat-tab-group></ng-container>

</div>

<div *ngIf="!authService?.isAuthenticated()" class="">

    <app-login [popup]="false"></app-login>

</div>