<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<mat-toolbar>
    <h3>Allocation</h3>
</mat-toolbar>

<mat-tab-group>
    <mat-tab *ngFor="let prov of providers" label="{{prov}}">
        <mat-card class="chart-card">
            <mat-card-header>
                <mat-card-title>{{prov}} portfolio</mat-card-title>
                <mat-card-subtitle>Current allocation</mat-card-subtitle>
            </mat-card-header>
            <div class="options">
            </div>
            <button class="dots" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-button class="showdata"  (click)="showDataTable=!showDataTable">{{showDataTable?'Hide':'Show'}} data</button>
            </mat-menu>

            <mat-card-content>
                <div class="highchart-box" [chart]="charts[prov]"></div>

                <br class="clear">
            </mat-card-content>

            <button mat-button (click)="resetSnapshot()" >Reset reference</button>

            <span  *ngIf="showDataTable" class="source">Source: {{prov}}.com</span>

            <mat-table #table class="data" [dataSource]="dataSource[prov]" *ngIf="showDataTable">
            <ng-container matColumnDef="symbol">
                <mat-header-cell *matHeaderCellDef> Symbol</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.symbol}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="available">
                <mat-header-cell *matHeaderCellDef> Available</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.available }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef> Unit Price (USD)</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.price }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="value">
                <mat-header-cell *matHeaderCellDef> Value (USD)</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.value|number:'1.2-2' }}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </mat-card>
    </mat-tab>

</mat-tab-group>

