<div *ngIf="user">
    <mat-tab-group>
        <mat-tab *ngFor="let b of appConfigService.possibleBrokers" label="{{b}}">
            <div class="padded">
                <section class="widget info ">
                    <h5>Connect</h5>
                    <div class="padded">
                    <mat-slide-toggle [color]="accent" [(ngModel)]="user['Connection'+b.charAt(0).toUpperCase() + b.slice(1)]"> Enable</mat-slide-toggle>
                        <div class="">
                            <button mat-raised-button="" (click)="goTo(appConfigService.brokersLinks[b].signup)" >Sign up at {{b}}</button>
                            <button mat-raised-button="" (click)="goTo(appConfigService.brokersLinks[b].api)" >Create an API token </button>
                        </div>
                    </div>
                </section>
                <section class="widget info">
                    <h5>Rights</h5>
                    <div class="padded">
                    <div class="broker-connection-table">
                        <div class="broker-connection-table-tr">
                            <div>Public data</div>
                            <div>
                                <mat-icon>{{checks['binance']?.publicdata?'check':'not_interested'}}</mat-icon>
                            </div>
                        </div>
                        <div class="broker-connection-table-tr">
                            <div>Read-only user data</div>
                            <div>
                                <mat-icon>{{checks['binance']?.privatedata?'check':'not_interested'}}</mat-icon>
                            </div>
                        </div>
                        <div class="broker-connection-table-tr">
                            <div>Send orders</div>
                            <div>
                                <mat-icon>{{checks['binance']?.orders?'check':'not_interested'}}</mat-icon>
                            </div>
                        </div>
                        <div class="broker-connection-table-tr">
                            <div>Withdrawals</div>
                            <div>
                                <mat-icon>{{checks['binance']?.withdraw?'check':'not_interested'}}</mat-icon>
                            </div>
                        </div>
                    </div>
                    </div>
                </section>

                <section class="widget  ">
                    <h5 class="form-header">
                        <mat-icon>create</mat-icon>
                        Credentials
                    </h5>
                    <div class="form">
                    <form>
                        <div>
                            <mat-form-field><input name="BinanceAPIKey" matInput
                                                   [(ngModel)]="user['Connection'+b.charAt(0).toUpperCase() + b.slice(1)+'APIKey']" placeholder="API Key">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field><input name="BinanceAPISecret" matInput
                                                   [(ngModel)]="user['Connection'+b.charAt(0).toUpperCase() + b.slice(1)+'APISecret']"
                                                   placeholder="API Secret"></mat-form-field>
                        </div>
                        <button mat-raised-button="" (click)="submit('binance')" color="primary">Save</button>
                    </form>
                    </div>
                </section>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>