gen
<mat-toolbar >
  <h3>{{panel?.title}} </h3>
</mat-toolbar>


<mat-tab-group>
  <mat-tab label="{{t.title}}" *ngFor="let t of panel?.content">
    <div class="panel-row" *ngFor="let r of t.rows">
        <div class="panel-content" *ngFor="let c of r.content">
          <div [ngSwitch]="c.id">

            <div *ngSwitchCase="0">
              <app-marketcap-evol-mini></app-marketcap-evol-mini>
            </div>
            <div *ngSwitchCase="1">
            <app-marketcap-evol-mini></app-marketcap-evol-mini>
          </div>

          </div>
    </div>
    </div>
  </mat-tab>

</mat-tab-group>






