<div (window:resize)="eventService.resized($event)" id="maincanvas"  class="{{(eventService.isTickerVisible && !eventService.isWelcomeVisible)?'ticker-visible':'ticker-invisible'}} {{(eventService.isMenuDisplayed)?'menu-visible':'menu-invisible'}} theme-dark {{eventService?.isFullscreen?'isFullscreen':''}}" *ngIf="!showPanelCreator"  [ngClass]="eventService.isMenuDisplayed?'menudisplayed':''">
    <div id="underticker" class="{{eventService?.isMenuDisplayed?'underticker-withmenu':'underticker-nomenu'}}">
        <mat-icon [matTooltip]="eventService.isMenuDisplayed?'Close menu':'Open menu'"  id="menu-switch" (click)="switchMenu()">{{eventService.isMenuDisplayed?"close":"menu"}}</mat-icon>
        <mat-sidenav-container fullscreen (backdropClick)="backdrop()">
            <mat-sidenav #sidenav [opened]="eventService.isMenuDisplayed" [mode]="eventService.isMenuPinned?'side':(eventService.isMobile?'over':'over')" opened="true" disableClose="true" mode="side">
                <div [matTooltip]="eventService.isMenuPinned?'Unpin menu':'Pin menu'" id="menu-pin" (click)="processPin()">{{eventService.isMenuPinned?"lock":"lock_outline"}}</div>
                <app-menu-list></app-menu-list>
            </mat-sidenav>
            <mat-sidenav #rightsidenav id="rightsidenav" [mode]="over" position="end">

                <app-events></app-events>


            </mat-sidenav>
            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
    <div id="bottom">
        <app-status></app-status>
        <app-ticker></app-ticker>
    </div>
</div>
<app-panel-creator *ngIf="showPanelCreator" [editedPanel]="editedPanel"></app-panel-creator>
<app-loading></app-loading>
<app-disconnected></app-disconnected>
<app-veil></app-veil>
<app-subscribe [popup]="true" *ngIf="showSubscribe"></app-subscribe>
<app-login *ngIf="showLogin"></app-login>

