<div  (window:resize)="eventService.resized($event)" id="maincanvas" *ngIf="!showPanelCreator && !eventService.isWelcomeVisible" [ngClass]="eventService.isMenuDisplayed?'':'menudisplayed'">
  <mat-icon id="menu-switch" (click)="sidenav.toggle();eventService.isMenuDisplayed=!eventService.isMenuDisplayed">{{eventService.isMenuDisplayed?"chevron_left":"menu"}}</mat-icon>
  <mat-sidenav-container fullscreen (backdropClick)="sidenav.close();eventService.isMenuDisplayed=false" >
    <mat-sidenav #sidenav [opened]="eventService.isMobile?false:true" [mode]="eventService.isMenuPinned?'side':(eventService.isMobile?'over':'side')" opened="true" disableClose="true" mode="side">
      <mat-icon id="menu-pin" (click)="eventService.isMenuPinned=!eventService.isMenuPinned">{{eventService.isMenuPinned?"lock":"lock_outline"}}</mat-icon>
      <app-menu-list></app-menu-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

<app-panel-creator  *ngIf="showPanelCreator" [editedPanel]="editedPanel"></app-panel-creator>

<app-welcome></app-welcome>
<app-loading></app-loading>

<app-veil></app-veil>

<app-subscribe [popup]="true" *ngIf="showSubscribe"></app-subscribe>

<app-login *ngIf="showLogin"></app-login>
