<div [@.disabled]="true">
    <mat-toolbar>
        <h3>{{supra}}/{{infra}} </h3>
        <div class="ticker">
            <div class="ticker-price ticker-evol-{{lastPrice > prevLastPrice?'up':'down'}}" >{{lastPrice| number:numberFormat}}</div>
            <div *ngIf="lastPrice" class="ticker-evol-{{lastPrice > prevLastPrice?'up':'down'}}"><mat-icon>{{lastPrice > prevLastPrice?'arrow_upward':'arrow_downward'}}</mat-icon></div>
        </div>
    </mat-toolbar>
    <mat-tab-group>
        <mat-tab label="Live">
            <div id="live">
                <div id="live-left">
                    <app-live-depth [lastPrice]="lastPrice" [pairId]="pairId"></app-live-depth>
                </div>
                <div id="live-right">
                    <app-live-price [pair]="pairId" [period]="'1m'"></app-live-price>
                    <app-live-price [pair]="pairId" [period]="'5m'"></app-live-price>
                    <app-live-price [pair]="pairId" [period]="'15m'"></app-live-price>
                    <app-live-price [pair]="pairId" [period]="'1h'"></app-live-price>
                    <app-live-price [pair]="pairId" [period]="'1d'"></app-live-price>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Trades">
            <section class="widget trades">
                <h5>Trades on {{pairId}}</h5>
            <div class="table table-trades">
                <div class="tr">
                    <div>Direction</div>
                    <div>Time </div>
                    <div>Price</div>
                    <div>Volume</div>
                </div>
                <ng-container *ngFor="let t of trades">
                    <div  class="tr">
                        <div class="keepcolor bg-{{t.isBuyer ? 'buy':'sell'}}"><span >{{t.isBuyer ? "BUY":"SELL" }}</span></div>
                        <div>{{t.time | date:"medium"}}</div>
                        <div>{{t.price}}</div>
                        <div>{{t.qty}}</div>
                    </div>
                </ng-container>
            </div>
            </section>
        </mat-tab>
        <mat-tab label="Social">
            <div class="grid grid-2-1">
                <div class="grid-in left">
                    <app-headlines [symbol]="supra"  [possibleSymbols]="[supra,infra,pairId]" [source]="'Google News'" [possibleSources]="['Google News']"></app-headlines>
                </div>
                <div class="grid-in right">
                    <app-twitter [symbol]="supra" [possibleSymbols]="[supra,infra,pairId]"></app-twitter>
                </div>
                <br class="clear">
            </div>
        </mat-tab>
        <mat-tab label="Information">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Information</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            Symbol: {{pairId}}
                            Supra: {{supra}}
                            Infra: {{infra}}
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>