<app-wrong-param [isErrored]="isErrored" [errorMessage]="errorMessage"></app-wrong-param>

<div [@.disabled]="true" *ngIf="!isErrored">
    <mat-toolbar>
        <h3>{{supra}}/{{infra}} </h3>
        @{{broker.substring(0,1).toUpperCase()+broker.slice(1)}}
        <div class="ticker">
            <div class="ticker-price ticker-evol-{{lastPrice > prevLastPrice?'up':'down'}}">{{lastPrice| number:numberFormat}}</div>
            <div *ngIf="lastPrice" class="ticker-evol-{{lastPrice > prevLastPrice?'up':'down'}}">
                <mat-icon>{{lastPrice > prevLastPrice?'arrow_upward':'arrow_downward'}}</mat-icon>
            </div>
        </div>
        <div class="refresh-box" *ngIf="!isLoading">
            <div class="refresh-datadate">Data date {{loadTime | date:'HH:mm:ss'}}</div>
            <div hidden class="refresh-in">Refreshing in {{refreshTimer/1000 }}s</div>
            <mat-progress-bar [color]="primary" [value]="100*(refreshEvery-refreshTimer)/refreshEvery" mode="determinate"></mat-progress-bar>
        </div>

    </mat-toolbar>
    <mat-tab-group>
        <mat-tab label="Live">
                    <app-live-price [refresh]="true" [pair]="pairId" [broker]="broker" [trades]="trades" [period]="'1m'"></app-live-price>
                    <app-live-price [refresh]="true" [broker]="broker"  [pair]="pairId" [period]="'5m'"></app-live-price>
                    <app-live-price [pair]="pairId"  [broker]="broker" [period]="'15m'"></app-live-price>
                    <app-live-price [pair]="pairId"  [broker]="broker" [period]="'1h'"></app-live-price>
                    <app-live-price [pair]="pairId"  [broker]="broker" [period]="'1d'"></app-live-price>
        </mat-tab>
        <mat-tab label="Depth">
            <app-live-depth [lastPrice]="lastPrice" [pairId]="pairId"></app-live-depth>
        </mat-tab>
        <mat-tab label="Trades">
            <app-my-trades [pairId]="pairId"></app-my-trades>
        </mat-tab>
        <mat-tab label="News">

            <app-headlines [symbol]="supra" [possibleSymbols]="[supra,infra,pairId]" [source]="'Google News'" [possibleSources]="['Google News']"></app-headlines>


        </mat-tab>
        <mat-tab label="Social">

            <app-twitter [symbol]="supra" [possibleSymbols]="[supra,('$'+supra),(supra+' coin'),infra,pairId]"></app-twitter>

        </mat-tab>
        <mat-tab label="Information">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Information</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <ul>
                                <li>Symbol: {{pairId}}</li>
                                <li><a class="link" [routerLink]="'/symbol/'+supra">{{supra}}</a></li>
                                <li><a class="link" [routerLink]="'/symbol/'+infra">{{infra}}</a></li>
                            </ul>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>