<div class="checkValid" *ngIf="isErrored">{{errorMessage}}</div>
<section class="widget price2 {{isZoomed?'zoomed':''}}" *ngIf="!isErrored">
    <h5 (click)="barClick()">{{showTitle?(supra+" / "+infra):""}} Price
        <div class="header-select"> <span class="header-button"  [matMenuTriggerFor]="appMenu2">  {{period}}     <mat-icon>expand_more</mat-icon>    </span></div>
        <div class="right"><span class="last-refreshed">Last refreshed : {{loadTime | date:"HH:mm:ss"}}</span> <mat-icon class="button-zoom" (click)="zoom()">{{isZoomed?'zoom_out':'zoom_in'}}</mat-icon></div>
    </h5>
    <mat-menu #appMenu2="matMenu">
        <button (click)="setInterval(i)" mat-menu-item *ngFor="let i of possiblePeriods">{{i}}</button>
    </mat-menu>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <div class="progressbar-placeholder" *ngIf="!isLoading" ></div>
    <div class="errorbar" *ngIf="isError" ></div>

<app-chart [chartId]="chartId" [data]="chartData" [pair]="pair" [broker]="broker" [steam]="lastCandle"></app-chart>


</section>