
<section class="widget price">
    <h5>Price
        <div class="header-select"> <span class="header-button"  [matMenuTriggerFor]="appMenu2">  {{period}}     <mat-icon>expand_more</mat-icon>    </span></div>
    </h5>
    <mat-menu #appMenu2="matMenu">
        <button (click)="period=i;updateData()" mat-menu-item *ngFor="let i of possiblePeriods">{{i}}</button>
    </mat-menu>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>


    <div #myChart class="highchart-box" [chart]="chart" (load)="saveInstance($event.context)"></div>

</section>