<div [@.disabled]="true">
    <mat-toolbar>
        <h3>Arbitrage</h3>
    </mat-toolbar>


    <app-top-right-buttons [showSearch]="false"></app-top-right-buttons>
    <div class="arbitrage-grid">


        <ng-container *ngFor="let li of sortedListing">

            <ng-container *ngIf="li.spread>0">
                <div class="arbitrage-header padded">
                    <div class="td big">
                        {{li.pair}}
                    </div>
                    <br>
                    <ng-container *ngIf="li.spread>0">
                        <div class="td ">
                            <span class="valpos">Spread:{{li.spread |number:'1.1-1'}}%</span>
                            <br>
                            Buy at :{{li.list.cheapestask}} <span class="broker-icon notext broker-{{li.list.cheapestaskname}}"></span>@{{li.list.cheapestaskname}}<br>

                            Sell at {{li.list.mostexpensivebid}} <span class="broker-icon notext broker-{{li.list.mostexpensivebidname}}"></span>@{{li.list.mostexpensivebidname }}
                        </div>
                        <button mat-raised-button (click)="check()">Check</button>
                    </ng-container>
                </div>
                <div class="table">
                    <div class="tr">
                        <div class="td">Broker</div>
                        <div class="td"></div>
                        <div class="td">Bid</div>
                        <div class="td">Ask</div>

                    </div>

                    <ng-container *ngFor="let broker of getKeys(li.list.brokers)">

                        <div class="tr">
                            <div class="td"><span class="broker-{{li.list.brokers[broker].broker}}"><span
                                    class="broker-icon notext broker-{{li.list.brokers[broker].broker}}"></span>{{li.list.brokers[broker].broker}}</span></div>
                            <div class="td"></div>
                            <div class="td"><span class="{{li.list.brokers[broker].oldbid>0?(li.list.brokers[broker].oldbid>li.list.brokers[broker].bid?'valneg':'valpos'):''}}"> {{li.list.brokers[broker].bid | price}} <mat-icon>{{li.list.brokers[broker].oldbid>0?(li.list.brokers[broker].oldbid>li.list.brokers[broker].bid?"arrow_downward":"arrow_upward"):''}}</mat-icon></span>
                            </div>
                            <div class="td"><span class="{{li.list.brokers[broker].oldask>0?(li.list.brokers[broker].oldask>li.list.brokers[broker].ask?'valneg':'valpos'):''}}"> {{li.list.brokers[broker].ask |price}} <mat-icon>{{li.list.brokers[broker].oldask>0?(li.list.brokers[broker].oldask>li.list.brokers[broker].ask?"arrow_downward":"arrow_upward"):''}}</mat-icon> </span>
                            </div>

                        </div>
                    </ng-container>
                </div>
            </ng-container>

        </ng-container>

    </div>
</div>