<div class="top-slogan-box">
    <div class="slash-header">Sign in required</div>
    <div class="top-slogan-sub">Sign in and configure your exchange API key to access this board for free</div>
</div>
<div class="padded slash bgwhite ">
<div class="col-2">
    <div class="col-2-1b"><div id="{{imgId}}"></div></div>
    <div class="col-2-2b padded"><h4>Sign up to access this feature in two easy steps !</h4><br>
    <ul><li>Access your portfolio from all your favorite brokers.</li>
    <li>Keep an eye on pair evolution with 24h for all your portfolio lines.</li>
    <li>Get a global view for all your portfolios.</li></ul></div>
</div>
</div>


<div class="slash-signup">
    <span class="slash-message">Sign up now</span>

    <div class="centered">
        <div id="slash-register">
            <app-form-register [successCallback]="afterSignup.bind(_this)" [submitText]="'Join Coinamics'"></app-form-register>
            <div hidden class="disclaimer">DISCLAIMER<br>
                Coinamics is not a financial advisor. Coinamics is not a trading platform. Buying and sellings cryptocurrencies is risky. Only invest money you can afford
                to lose.
            </div>
        </div>
    </div>
</div>


