<h5 class="form-header"><mat-icon>create</mat-icon>Login form</h5>
<div class="form">
        <form [formGroup]="form">
          <div>
            <mat-form-field><input matInput formControlName="email" placeholder="Your e-mail..." required></mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input formControlName="password" matInput placeholder="Enter your password..." type="password" required>
              <mat-icon class="icon-hide" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="Confirm your password" type="password">
              <mat-icon class="icon-hide" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
          </div>
          <button mat-raised-button=""  (click)="submit()" color="primary">Send</button>
        </form>
      </div>
