
<section class="widget news">

  <h5>Latest news related to
    <div class="header-select"> <span class="header-button"  [matMenuTriggerFor]="appMenu2">  {{symbol}}     <mat-icon>expand_more</mat-icon>    </span></div>
    from
    <div class="header-select"> <span class="header-button"  [matMenuTriggerFor]="appMenu">   {{source}}     <mat-icon>expand_more</mat-icon>    </span></div>
  </h5>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <div class="progressbar-placeholder" *ngIf="!isLoading" ></div>
  <mat-menu #appMenu="matMenu"  >
    <button (click)="source=i;init()" mat-menu-item *ngFor="let i of possibleSources">{{i}}</button>
  </mat-menu>
  <mat-menu #appMenu2="matMenu" >
    <button (click)="symbol=i;init()" mat-menu-item *ngFor="let i of possibleSymbols">{{i}}</button>
  </mat-menu>

      <ul>
        <li *ngFor="let t of tweets" class="tweet">
          <div>

            <a  target="_blank"  href="http://twitter.com/{{t.userscreenname}}">
              <div class="tweet-image" [ngStyle]="{'background-image': 'url(' + t.image + ')'}"></div>
              <span class="tweet-user">{{t.publisher}}</span><br>
              <br class="clear">
            </a><br>
            <span class="tweet-text">{{t.title}}</span><br>
            <strong>Related</strong>
            <span class="tweet-text" [innerHTML]="t.desc | sanitizeHtml"></span><br>
            <br>
            <span class="tweet-date">{{t.date | date:"medium"}}</span><br>
            <a  target="_blank" href="{{t.link}}" rel="external" class="tweet-url">More...</a>
          </div>
        </li>
      </ul>

</section>
