<div>Portfolio</div>
<ul>
<ng-container *ngFor="let b of tradingService.enabledBrokers">

    <li [routerLink]="'/allocation'">

        <span class="broker-icon notext broker-{{b}}"></span>
        <ng-container *ngIf="tradingService?.getBrokerByName(b).getPortfolio().connected">$<app-portfolio-value [broker]="b"></app-portfolio-value></ng-container>
        <ng-container *ngIf="!tradingService?.getBrokerByName(b).getPortfolio().connected">Offline</ng-container>
    </li>

</ng-container>
    <li *ngIf="total>0">TOTAL: ${{total |number:'1.2-2'}}</li>
</ul>