<mat-nav-list id="desktop-menu">
    <div id="header">
        <div class="logo-img">
            <mat-icon>trending_up</mat-icon>
        </div>

        <app-portfolio-recap></app-portfolio-recap>
    </div>
    <div>
    </div>
    <ng-container *ngIf="appConfigService?.isCustomDashboardEnabled">
    <div *ngFor="let p of currentWorkspace?.panels">
        <div *ngIf="isLoaded(p)">
            <div *ngIf="myPanels[p].type=='separator'" mat-list-item class="mat-list-item  menu-separator"> {{myPanels[p].title}}</div>
            <a *ngIf=" myPanels[p].type=='panel'" (click)="goTo(p)" matLine mat-list-item> {{myPanels[p].title}}</a>
            <a *ngIf=" myPanels[p].type=='special'" [routerLink]="appConfigService.specialLinks[myPanels[p].id]" matLine mat-list-item> {{myPanels[p].title}}</a>
        </div>
        <div *ngIf="!isLoaded(p)">Panel {{p}} not loaded
        </div>
    </div>
    </ng-container>

    <div mat-list-item class="mat-list-item  menu-separator">Events</div>
    <a (click)="goToLink('/calendar')" matLine mat-list-item>Calendar
        (todo)
    </a>
    <div mat-list-item class="mat-list-item  menu-separator">Opinions</div>
    <a (click)="goToLink('news')" matLine mat-list-item><mat-icon>whatshot</mat-icon>News    </a>

    <a (click)="goToLink('social/twitter')" matLine mat-list-item ><mat-icon>public</mat-icon>Social

    </a>

    <div mat-list-item class="mat-list-item  menu-separator">Trade</div>
    <a (click)="goToLink('allocation')" matLine mat-list-item>Allocation
        <mat-icon>lock</mat-icon>
    </a>
    <a (click)="goToLink('listing')" matLine mat-list-item>Listing
        <mat-icon>lock</mat-icon>
    </a>

    <a (click)="goToLink('trades')" matLine mat-list-item>History
        <mat-icon>lock</mat-icon>
    </a>
    <a (click)="goToLink('positions')" matLine mat-list-item>Position
        <mat-icon>lock</mat-icon>
    </a>
    <div mat-list-item class="mat-list-item  menu-separator">Administration</div>
    <a (click)="goToLink('/config/all')" matLine mat-list-item>Settings
        <mat-icon>settings</mat-icon>
    </a>


    <ng-container *ngIf="appConfigService.isCustomDashboardEnabled">
    <button mat-button *ngIf="authService.isSubscriptionActive()" (click)="addPanel()" id="button-editmode">Edit dashboards...</button>
    <button mat-button *ngIf="!authService.isSubscriptionActive()" (click)="eventService.showSubscribe()" id="button-editmode">Edit dashboards...<span
            class="subscriber-feature">+</span></button></ng-container>

    <div class="monitor-{{tradingService.isAnyBrokerConfigured()?'ok':'wait'}}">Brokers :{{tradingService.isAnyBrokerConfigured()?"Connected":"Awaiting..."}}</div>
    <div class="monitor-{{apiService.isUp?'ok':'wait'}}">API connection : {{apiService.isUp?"Up":"Unreachable"}}</div>


</mat-nav-list>


