

<mat-nav-list  id="desktop-menu">
  <div id="header">
    <div class="logo-img"><mat-icon>trending_up</mat-icon></div>
    <div class="logo-in" routerLink="/">
      <span id="logo"> Coinamics  </span>

    </div><br>
   <button mat-button routerLink="/config/all">
      <mat-icon>settings</mat-icon>
      {{authService.isAuthenticated()?"Settings":"Sign in"}}
    </button>

</div>

  <div *ngFor="let p of currentWorkspace?.panels" >
    <div *ngIf="isLoaded(p)">
    <div *ngIf="myPanels[p].type=='separator'" mat-list-item class="mat-list-item  menu-separator"> {{myPanels[p].title}}</div>
    <a *ngIf=" myPanels[p].type=='panel'" (click)="goTo(p)"matLine mat-list-item > {{myPanels[p].title}}</a>
    <a *ngIf=" myPanels[p].type=='special'"  [routerLink]="appConfigService.specialLinks[myPanels[p].id]" matLine mat-list-item > {{myPanels[p].title}}</a>
    </div>
    <div *ngIf="!isLoaded(p)">Panel {{p}} not loaded
    </div>
  </div>

  <button mat-button *ngIf="authService.isSubscriptionActive()" (click)="addPanel()" id="button-editmode">Edit dashboards...</button>
  <button mat-button *ngIf="!authService.isSubscriptionActive()"  (click)="eventService.showSubscribe()"  id="button-editmode">Edit dashboards...<span class="subscriber-feature">+</span></button>

</mat-nav-list>


