<div id="{{popup?'login':''}}">
  <div *ngIf="popup" class="close" (click)="close()">X</div>

  <mat-tab-group>
    <mat-tab label="Login">

      <h3 class="title">Login</h3>
      <span class="info">You need to login to access this page</span>
      <div class="form">
        <div>
          <mat-form-field>
            <input matInput placeholder="email">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
        </div>
        <button mat-raised-button="" color="primary">Send</button>
      </div>
    </mat-tab>
    <mat-tab label="Sign up">

      <h3 class="title">Sign up</h3><br><br>

      <div class="form">
        <form [formGroup]="form">

          <div>
            <mat-form-field><input matInput formControlName="email" placeholder="email" required></mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input formControlName="password" matInput placeholder="Enter your password" type="password" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input matInput placeholder="Confirm your password" [type]="password">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
          </div>
          <button mat-raised-button=""  (click)="submit()" color="primary">Send</button>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
