.theme-dark .mat-drawer-content {
    background: #000000!important;

}
.theme-dark h3.title, .theme-dark  mat-toolbar h3 {
    font: normal 30px/30px "London"!important;
    color: #fff!important;
}
.theme-dark .mat-tab-label, .mat-tab-link{
    color:#aaa!important
;
    border-top: solid 1px #666;
    border-radius: 3px;
    border-right: solid 1px #444;
}
.theme-dark .mat-tab-label-active{background:#444!important;}
.theme-dark *{    color: white;font-size:12px}
.theme-dark select,.theme-dark option{    color: black;}
.theme-dark *:not(.mat-icon){    font-family:"Open Sans"}
.theme-dark .mat-card{background: #000000}
.theme-dark li.tweet{border-bottom-color: #444}
.theme-dark mat-list mat-list-item[link]:hover {
    background: #444444;
}
.theme-dark .depth-ask,.theme-dark .depth-bid{border-bottom-color: #444}
body {background:black}
.row{  border-bottom-color:  rgba(255,255,255,0.2)}
.theme-dark .data,.theme-dark  mat-table.data ,.theme-dark .source{
    background: #58554e;
}
.theme-dark .trade-buy{color:green;}
.theme-dark .trade-sell{color:red}