.theme-dark .mat-drawer-content {
    background: #000000!important;    min-height: 500px;

}
.theme-dark h3.title, .theme-dark  mat-toolbar h3 {
    font: normal 30px/30px "London"!important;
    color: #fff!important;
}
.theme-dark .mat-tab-label, .mat-tab-link{
    color:#aaa!important
;
    background: #222;
    border-top: solid 1px #666;
    border-radius: 3px;
    border-right: solid 1px #444;
}
.theme-dark .mat-tab-label-active{background:#444!important;}
.theme-dark *{    color: white;font-size:12px}
.theme-dark mat-icon { font-size:19px}
.theme-dark select,.theme-dark option{    color: black;}
.theme-dark *:not(.mat-icon){    font-family:"Open Sans"}
.theme-dark .mat-card{background: #000000}
.theme-dark li.tweet{border-bottom-color: #444}
.theme-dark mat-list mat-list-item[link]:hover {
    background: #444444;
}
.theme-dark .depth-ask,.theme-dark .depth-bid{border-bottom-color: #444}
body {background:black}
.row{  border-bottom-color:  rgba(255,255,255,0.2)}
.theme-dark .data,.theme-dark  mat-table.data ,.theme-dark .source{

    background: linear-gradient(#1a5e8c, #106cc8);
}
.theme-dark .trade-buy{color:green;}
.theme-dark .trade-sell{color:red}
.theme-dark .mat-expansion-panel{background:#444}
.theme-dark .mat-expansion-panel-header-description,.theme-dark .mat-expansion-indicator::after{color:white}
.theme-dark .form{
    background: #232323;
    border-color: #666;border:0;
    background: #0997a7;}

.theme-dark input {
    background: #1dadbd;
    line-height: 30px;
    box-sizing: border-box;
    padding: 5px;
    border: solid 1px #57cfdc;
    border-radius: 3px;
    border-left-width: 10px;
}
.theme-dark  .mat-form-field-label{color:wheat!important;font-size:12px!important;}
.theme-dark .mat-focused .mat-form-field-label{color:wheat!important;font-size:12px!important; }
.theme-dark  .mat-form-field-label-wrapper{left: 15px!important;    top: 2px!important; }
.theme-dark .mat-focused .mat-form-field-label-wrapper{left: 0px!important;    top: -8px!important;font-size:12px!important; }
.theme-dark .mat-form-field-ripple{background-color:wheat!important }

h5.form-header mat-icon {
    position: relative;
    top: 4px;
}
h5.form-header {
    background: #444;background: #3de8fb;
}
.theme-dark span.info{
    background: #675200;
    border-top: solid 1px #926500;
    border-bottom: solid 1px #a97500;

    color: #b9a03c;}
.theme-dark .mat-raised-button{
    background-color: #444;}
.theme-dark .table{background: linear-gradient(#073b4a, #106cc8);}
.theme-dark .mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
    border-color: rgb(255, 255, 255);
}
.theme-dark  .mat-tab-header-pagination-chevron {
    border-color: rgb(255, 255, 255);
}